%h1 Recordings

%table
  %thead
    %tr
      %th Title
      %th Playback
      %th User
      %th Delete

  %tbody
    - @recordings.each do |recording|
      %tr
        %td= link_to recording.name, recording
        %td= audio_tag recording.audioclip.url, controls: true
        %td= link_to recording.user.name, recording.user
        %td= link_to 'Delete Recording', recording, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Recording', new_recording_path
