%h1 Recordings

%table
  %thead
    %tr
      %th Title
      %th Play Now
      %th User
      %th Delete

  %tbody#playlist
    - @recordings.each do |recording|
      %tr
        %td= link_to recording.name, recording
        %td= link_to 'Play', recording.audioclip.url, class: :audiofiles
        %td= link_to recording.user.name, recording.user
        %td= link_to 'Delete Recording', recording, method: :delete, data: { confirm: 'Are you sure?' }


-# TODO from this down should be some sort of "renderable layout thingy"

%h2 The Big Playback

%audio#audio{preload: :auto, tabindex: 0, controls: :controls}
  %source#source{type: 'audio/mp3'}

:coffee
  # based on blog.lastrose.com/html5-audio-video-playlist
  run = (link, player) ->
    player.src = link.attr("href")
    $player.play()
    return

  currentIdx = 0
  $player = $("#audio")[0]
  $playlist = $("#playlist")
  $tracks = $playlist.find(".audiofiles")

  # play on click
  $tracks.click (e) ->
    e.preventDefault()
    link = $(this)
    currentIdx = link.parent().index() # not sure how this works, but it does...
    run link, $player
    return

  # play next on end-of-track
  $player.addEventListener "ended", (e) ->
    currentIdx++
    currentIdx = 0 if current is $tracks.length
    link = $playlist.find(".audiofiles")[currentIdx]
    run $(link), $player
    return


%hr

= link_to 'New Recording', new_recording_path
