%h1 Listing recordings

%table
  %thead
    %tr
      %th Name
      %th User
      %th
      %th
      %th
      
  %tbody
    - @recordings.each do |recording|
      %tr
        %td= recording.name
        %td= recording.user
        %td= link_to 'Show', recording
        %td= link_to 'Edit', edit_recording_path(recording)
        %td= link_to 'Destroy', recording, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Recording', new_recording_path
