%h1 Listing recordings

%table
  %thead
    %tr
      %th Title
      %th User
      %th Recording
      %th
      %th

  %tbody
    - @recordings.each do |recording|
      %tr
        %td= link_to recording.name, recording
        %td= link_to recording.user.name, recording.user
        %td= audio_tag recording.audioclip.url, controls: true
        %td= link_to 'Delete', recording, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Recording', new_recording_path
