%p#notice= notice

%p
  %b Title:
  = @recording.name
%p
  %b User:
  = @recording.user.name

- if @recording.categories.count > 0
  %ul
    %b Categories
    - @recording.categories.each do |category|
      %li=category.name
%hr
%p
  %b Audio:
  = audio_tag(@recording.audioclip.url, controls: true)

= link_to 'Edit', edit_recording_path(@recording)
\|
= link_to 'Back', recordings_path
