%h1 Categories

%table
  %thead
    %tr
      %th Name
      - if user_signed_in?
        %th Following
        %th Delete

  %tbody
    - @categories.each do |category|
      %tr
        %td
          %b= link_to category.name, category
        - if user_signed_in?
          - if current_user.categories.include? category
            %td= link_to 'Un-Follow', follow_path(category), method: :put
          - else
            %td= link_to 'Follow', follow_path(category), method: :put
          %td= link_to 'Delete Category', category, method: :delete, data: { confirm: 'Are you sure?' }

%hr

= link_to 'New Category', new_category_path
